*{
    /* background-color: #111111; */
    /* margin: auto;
    padding: auto; */

}

#miama{
    width: 400;
    font-style: italic;
    font-size: 78px;
    line-height: 93.6px;

}
.nav-clr{
    background: #E6533C;
;
}

.GYM{
    font-style: italic;
    width: 132px;
    height: 43px;
    margin-left: 70px;



}
.first-nav{
    display: flex;
    width: 1060px;
    height: 46px;
    top: 57px;
    left: 190px;
    justify-content: space-between;
 
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 465px;
    height: 46px;
    border-radius: 39px;
    border: 1px;
    padding: 4px;
    gap: 47px;

}
.header{
    display: flex;
    width: 1440px;
    height: 715px;
     background: linear-gradient(180deg, #111111 0%, rgba(119, 119, 119, 0) 100%);
;

}
.header-body{
    width: 600px;
    height: 440px;
    top: 199px;
    left: 190px;
    gap: 71px;   
}
.header-img{
    width: 349px;
    height: 580px;
    top: 135px;
    left: 877px;

}

.habit{
    text-align: center;
    width: 1044px;
    height: 452px;
    top: 815px;
    left: 198px;
    gap: 58px;


}
.picture{
    justify-content: space-between;
    display: flex;
    width: 1044px;
    height: 274px;
    gap: 40px;
}
.circle{
    border-radius:50%;

}
.Extra-Mile{
    display: flex;
    background-color: #696969;
    border-radius: 20px;

}
.first-table{
    border-collapse: collapse;
    padding: auto;
}
.img-folder{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    


}
.full-chart{
    display: flex;
    justify-content: space-between;
    margin: 10px 200px;

}
.BMI-chart{
    background-color: #696969;

}
.last-ftr{
    display: flex;
    justify-content: space-between;
    margin: 10px 50px;
    align-items: center;
    
}
.copyright{
    text-align: center;

}